/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background: url("../img/bg-main.jpg") fixed bottom;
    color: #D4D4D4;
}

#container {
    width: 1000px;
    margin: 0 auto 0 auto;
}

/* general */

.btn_green_right {
    float: right;
    margin-left: 15px;
}

.fieldsnothere {
    float: left;
}

/* header */

header {
    width: 1000px;
}

#header_login_form {
    padding: 5px 10px 0px 10px;
}

#header_banner {
    width: 1000px;
    height: 150px;
}

#header_nav_login {
    padding: 0 10px 0 10px;
}

#header_nav_login_btn {
    text-align: center;
}

/* footer */
footer {
    clear: both;
    margin-top: 25px;
    padding: 25px 0 50px 0;
    background: #1C263C;
    width: 100%;
    opacity: 0.7;
    filter: alpha(opacity = 70); /* For IE8 and earlier */
}

#footer_info {
    width: 1000px;
    margin: 0 auto 0 auto;
    opacity: 1;
    filter: alpha(opacity = 100); /* For IE8 and earlier */
}

#footer_extrapadding {
    margin-left: 15px;
    margin-right: 15px;
}

/* content */
h2 {
    color: #9CFF00;
}

h4 {
    color: #B4FF40;
    margin-left: 30px;
}

#content {
    margin: 0 auto 0 auto;
    /*border-radius: 5px;*/
    background: #1C263C;
    padding: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*notification mail*/
#Message {
    width: 97.5%;
    height: 25%;
    min-height: 75px;
}

.messageRow {
    opacity: 0.3;
    width: 350px;
}

.changedTo {
    text-align: center;
}

label {
    cursor: text;
}

/* trips */

.trip_list {
    list-style: none;
}

.trip_details {
    /* height: 100px;  */
    background: #455268;
    margin: 10px 15px 10px 15px;
    padding: 15px;
    width: 42%;
    float: left;
    color: #B6C0D2;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.trip_name {
    margin-bottom: 7px;
}

a.trip_name {
    font-weight: bold;
    font-size: 15pt;
    color: #B4FF40;
    text-decoration: none;
}

a.trip_name:hover {
    color: #64A600;
}

.trip_extra {
    margin-top: 15px;
}

.trip_datums {
    float: right;
}

.trip_detail_general {
    font-weight: bold;;
}

.float_fix {
    clear: left;
}

.pagination {
    text-align: center;
}

/* trip detailview */

#trip_detailview_adminbtn {
    float: right;
}

/* profile */

.hidethis {
    visibility: hidden;
}

.profile_right {
    text-align: right;
}

.profile_btns {
    margin-top: 15px;
}

/* change pw */

#changepw_form {
    text-align: center;
}

/* languages */

#languageFlag {
    margin-top: 0.8em;
    height: 1.2em;
    width: 1.75em;
    float: left;
    cursor: pointer;
}

#languageFlag:hover {
    height: 1em;
    width: 1.6em;
    border: #ffffff;
    border-width: 0.1em;
    border-style: solid;
}

.flagsImg {
    height: 2.5em;
    width: 4em;
}

.flagRow {
    text-align: center;
    height: 5em;
}

.flagOptions {
    width: 10em;
}

.flagLink {
    cursor: pointer;
}

#languageTable {
    margin-top: 1.25em;
}

/* labels */

.formLabels1 {
    margin-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    color: #9CFF00;
}

.formLabels2 {
    font-size: 1.2em;
}

.formView {
    width: 80%;
    margin-left: 10%;
    margin-top: 1em;
}

.formTrip {
    color: #9CFF00;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.formTable {
    width: 100%;
    text-align: left;
}

.formColumns {
    width: 25%;
}

.formButton {
    background-color: #D4D4D4;
    color: #1C263C;

    border-radius: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.4em;
    padding-left: 3em;
    padding-right: 3em;
}

.formButton:hover {
    background-color: #BDBBBB;

    color: #D4D4D4;

}