

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background: url("../img/bg-main.jpg") fixed bottom;
    color: #D4D4D4;
}
#container {
	width: 1000px;
	margin: 0 auto 0 auto;
	
}

/* header */

header {
	width: 1000px;
}

#header_login_form {
	padding: 5px 10px 0px 10px;
}


#header_banner {
	width: 1000px;
	height: 100px;
}


/* content */
h2 {
    color: #9CFF00;
}

#content {
	margin: 0 auto 0 auto;
	/*border-radius: 5px;*/
	background: #1C263C;
	padding: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}




