<component name="libraryTable">
  <library name="spring-webflow-2.3.2" type="spring-webflow">
    <properties version="2.3.2" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/org.springframework.binding-2.3.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/org.springframework.faces-2.3.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/org.springframework.js.resources-2.3.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/org.springframework.js-2.3.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/org.springframework.webflow-2.3.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>