<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http auto-config="true">
        <intercept-url pattern="/trip/admincp-*.html" access="ROLE_USER" />
        <intercept-url pattern="/trip/join/*.html" access="ROLE_USER" />
        <form-login login-page="/general/index.html" default-target-url="/general/index.html"
                    authentication-failure-url="/user/loginfailed.html" />
        <logout logout-success-url="/" />
    </http>

    <authentication-manager >
           <authentication-provider >
               <password-encoder hash="plaintext"/>
            <jdbc-user-service data-source-ref="dataSource"

              users-by-username-query="
		      select username,password ,true
		      from t_user where username=?"
              authorities-by-username-query="
		      select username, 'ROLE_USER' from t_user where username=? "/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>